table select {
	width: 100%;
}

.switcher {
	padding: 5px 20px;
	border: solid 1px;
	border-radius: 20px;
	background-color: #eaeaea;
}

.profile-width-wrapper {
    position: relative;
    border: solid 1px #cccccc;
    overflow: visible;
    height: 37px;
    background-color: #c3cfd4;
    border-radius: 3px;
}

.profile-width-slider-wrapper {
    display: inline-block;
    position: absolute;
    left: 0;
    right: 107px;
    padding-top:13px;
}

.profile-width-slider-wrapper-range {
    display: inline-block;
    position: absolute;
    right: 107px;
    left: 107px;
    padding-top:13px;
}

.profile-width-input-gr-wrapper {
	width: 100px;
	display: inline-block;
	position: absolute;
	right: 0;
}

.profile-width-input-gr-wrapper-left {
	width: 100px;
	display: inline-block;
	position: absolute;
	left: 0;
}

@media(max-width: 400px) {
	.profile-width-slider-wrapper-range {
		display:none;
	}
}

.iris-border {
	position: absolute!important; /* Need to rewrite widget rules */
	z-index: 100;
}

button[disabled=disabled] {
	background-color: #cccccc!important;
	border-color: #cccccc!important;
}

.preview-wrapper {
	overflow: scroll;
}

.preview-iframe {
	width: 100%;
	min-height: 100px;
}

.iframe-wrapper {
	margin: 0 auto;
	width: 1280px;
	position: relative;
}

.full-height {
	min-height: 100vh;
}

/* Checkbox */

.fancy-checkbox {
  vertical-align: top;
  margin: 0 3px 0 0;
  width: 17px;
  height: 17px;
}
.fancy-checkbox + label {
  cursor: pointer;
}

.fancy-checkbox:not(checked) {
  position: absolute;
  opacity: 0;
}
.fancy-checkbox:not(checked) + label {
  position: relative;
  padding: 0 0 0 60px;
}

.fancy-checkbox:not(checked) + label:before {
  content: '';
  position: absolute;
  top: -4px;
  left: 0;
  width: 50px;
  height: 26px;
  border-radius: 13px;
  background: #CDD1DA;
  box-shadow: inset 0 2px 3px rgba(0,0,0,.2);
}

.fancy-checkbox:not(checked) + label:after {
  content: '';
  position: absolute;
  top: -2px;
  left: 2px;
  width: 22px;
  height: 22px;
  border-radius: 10px;
  background: #FFF;
  box-shadow: 0 2px 5px rgba(0,0,0,.3);
  -webkit-transition: all .2s;
  transition: all .2s;
}

.fancy-checkbox:checked + label:before {
  background: #9FD468;
}

.fancy-checkbox:checked + label:after {
  left: 26px;
}

.fancy-checkbox:focus + label:before {
  box-shadow: 0 0 0 3px rgba(255,255,0,.5);
}

.tip-icon {
	float: left;
	margin-right: 10px;
}

.tip {
	display: none;
	margin-top: 10px;
}

.extension-status {
	font-weight: bold;
	display: none;
}

.panel-icon-body {
	display: inline-block;
	width:35px;
	height:50px;
	margin-right:5px;
}

.panel-icon-top,
.panel-icon-header,
.panel-icon-footer,
.panel-icon-bottom {
	background-color: #a7ceff;
}

.panel-icon-header,
.panel-icon-footer {
	height: 22%;
}

.panel-icon-top,
.panel-icon-top ~ .panel-icon-header,
.panel-icon-top ~ .panel-icon-footer,
.panel-icon-bottom {
	height: 12%;
}

.panel-icon-top,
.panel-icon-header,
.panel-icon-footer,
.panel-icon-content {
	margin-bottom: 3%;
}

.panel-icon-top,
.panel-icon-header,
.panel-icon-footer,
.panel-icon-bottom,
.panel-icon-content {
	border: solid 1px black;
}

.panel-icon-content {
	height: 37%;
}

.panel-icon-top ~ .panel-icon-content {
	height: 47%;
}

.active.panel-icon-top,
.active.panel-icon-header,
.active.panel-icon-content,
.active.panel-icon-footer,
.active.panel-icon-bottom { 
	background-color: red;
}

.profile-tab-text {
	vertical-align: top;
	font-size: 150%;
}

.raw-data {
	background-color: #ffffba;
}

.file-browser iframe {
	width: 100%;
	height: 100%;
	min-height: 425px;
}

.attachment-item-icon {
	font-size: 30px;
}

.elfinder {
	position: relative;
	display: inline-block;
    -webkit-transition: all .2s cubic-bezier(0.31, 0.22, 0.74, 1.75);
    transition: all .2s cubic-bezier(0.31, 0.22, 0.74, 1.75);
    top: 0;
    left: 0;
    color: #1e91cf;
}

.elfinder:visited {
	color: #1e91cf;
}

.eldinder:hover {
	color: #21709a;
}

.attached.elfinder{
    box-shadow: 4px 4px 5px #457690;
    top: -2px;
    left: -2px;
}

.attachments-wrapper table{
	font-size: 12px;
}

.elfinder img {
	border: solid 1px #21c0f0;
}

.disposition-name {
    display: inline-block;
    width: 100%;
    height: 100%;
    overflow: hidden;
    position: absolute;
    top: 0;
    left: 0;
}

.disposition-name i {
	background-color: #fff;
	padding: 2px;
	font-size: 15px;
	font-family: 'Open Sans', sans-serif;
}

.disposition-embedded,
.disposition-attached {
	position :absolute;
    bottom: 3px;
    left: 5%;
    display:inline-block;
    width: 90%;
    text-align: center;
    text-decoration: none;
    font-weight: bold;
    -webkit-transition: bottom .4s cubic-bezier(0.3, -0.81, 0.74, 1.7);
    transition: bottom .4s cubic-bezier(0.3, -0.81, 0.74, 1.7);
}

.disposition-embedded {
	color: green;
}

.disposition-attached {
	bottom: 5px;
	color: #1e91cf;
}


.embedded .disposition-attached {
	-webkit-transition: none;
	transition: none;
	bottom: 110%;
}

.attached .disposition-embedded {
	-webkit-transition: none;
	transition: none;
	bottom: 110%;
}

.remove-image {
	position: absolute;
    font-size: 40px;
    top: -22px;
    right: -25px;
    -webkit-transition: -webkit-transform 1s ease-in-out;
    transition: -webkit-transform 1s ease-in-out;
    -webkit-transition: -webkit-transform 1s ease-in-out;
    transition: -webkit-transform 1s ease-in-out;
    transition: transform 1s ease-in-out;
    transition: transform 1s ease-in-out, -webkit-transform 1s ease-in-out;
}

.removing .remove-image {
	-webkit-transform: rotate( 360deg );
	    -ms-transform: rotate( 360deg );
	        transform: rotate( 360deg );
}

.table-filter {
	padding-bottom: 10px;
}

.filter-controls {
	margin-right: 20px;
}

.filter-controls button {
	margin-right: 5px;
}

.history-highlight-col {
	background-color: #f5f5f7;
}

.adk-table thead {
	background-color: #7ca9d0;
	color: #fff;
}

.table-sort {
	cursor: pointer;
	font-size: 130%;
}

.active-sort {
	color: #00ff3b;
}

@media(max-width: 820px) {
	.mapping-table {
		visibility: hidden;
	}
}

.add-status-template .select2-selection {
	height: 2.9em;
	margin-top: 0;
	border-top-right-radius: 0;
	border-bottom-right-radius: 0;
}

.nav-tabs .fa {
	color: #00a3d9;
}

.table-filter-wrapper {
	margin-bottom: 5px;
	margin-top: 5px;
}

#newsletter-controls h3 {
    text-align: center;
    margin-top: 30px;
    border-top: solid 2px #6a6c9a;
    background-color: #c9c9ff;
    padding: 5px;
}

.fix-parent {
	overflow: hidden;
}

#newsletter-manage-pane label {
	width: 100%;
}

.adk-checkbox-wrapper {
	display: inline-block;
	vertical-align: middle
}

.adk-checkbox-wrapper .fc-wrapper {
	vertical-align: middle;
}

.checkbox-label {
	font-weight: bold;
	padding-right: 10px;
}

.chart-wrapper {
	overflow: hidden;
}

.newsletter-line {
	cursor: pointer;
}

.csv-item-wrapper {
	padding: 0;
}

.csv-item span {
	vertical-align: top;
	padding: 5px;
}

.csv-item {
	padding: 5px;
	margin: 0;
	border: solid 1px;
	border-radius: 5px;
	max-width: 150px;
	background-color: #f9f9f9;
	cursor: move;
}

.import-column {
	width: 15px;
	border: none;
	border-bottom: solid 1px gray;
}

.import-csv,
.import-csv span {
	padding: 0;
}

