 .adk-hint{
    position: absolute;
    display: none;
    z-index: 1;
    background-color: #ECECEC;
 }
 .line-hint-record,
 .hint-line {
    padding: 5px;
    cursor: pointer;

 }
 .line-hint-record:hover,
 .hint-line:hover {
 	background-color: #D4D3D3;
 }
 .span-wrapper {
 	position: relative;
 	display: inline-block;
 }
 .hint-body {
	position: absolute;
	left: 0;
	border: solid 1px;
	top: 110%;
	background-color: #ECECEC;
	cursor: pointer;
	padding: 2px;
 }
 #legal {
 	text-align: center;
 }
 #legal b {
 	color: #3A92FF;
 }
 #legal span {
 	color: #FF730F;
 }
 .pagination {
 	position: relative;
 }
 .pagination:after {
    content: 'Loading...';
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: rgba(68, 67, 78, 0.4);
    left: 0;
    top: 0;
    color: #E8E8E8;
    font-weight: bold;
    font-size: 150%;
    text-align: center;
    z-index: 11;
    padding-top: 5px;
    cursor: not-allowed;
    visibility: hidden;
 }
 .pagination.action:after {
 	visibility: visible;
 }
 .loader {
 	font-size: 80px;
    text-align: center;
    color: #1E91CF;
 }
 .loader .msg {
 	font-size: 20px;
 }
 .auto-list {
 	display: block;
    position: absolute;
    width: 100%;
    left: 0;
    z-index: 100;
    top: 100%;
    border: solid 1px #BFBFBF;
 }
 .auto-list-item {
 	padding: 5px;
    background-color: #EEEEEE;
    cursor: pointer;
 }
 .auto-list-item:hover {
 	background-color: #BFBFBF;
 }
 .input-group.busy span.main,
 .input-group.has-error span.main {
 	display: none;
 }
.input-group:not(.busy) span.busy {
 	display: none;
 }
 .input-group:not(.has-error) span.error {
 	display: none;
 }
 .input-group span.busy,
 .input-group span.error {
 	font-size: 200%;
    padding: 0 8px 0 8px;
 }
 .input-group span.busy {
    color: #00A3D9;
 }
 .input-group span.error {
    color: #F51111;
    background-color: #E8D4D4;
 }
 .input-group span.main.active {
	cursor: pointer;
	background-color: #65CA65;
 }
 .input-group span.main.active.delete {
 	background-color: #FF6868;
 	color: #FFFFFF;
 }
 .input-group span.active.export {
 	background-color: #7CAAFF;
 }
 .checkbox-group {
 	max-width: 300px;
    max-height: 200px;
    overflow: scroll;
 }
 .checkbox-group > label {
 	display: block;
 	padding: 5px;
 }
 .checkbox-group > label:nth-child(odd) {
 	background-color: #F5F5F5;
 }
 .checkbox-group input {
 	margin-right: 5px;
 }
 .property-item {
	border-top: solid 2px #F7F7F7;
    padding: 10px 0;
 }
 .edit-panel {
 	padding: 5px;
 	text-align: right; 
 }
 .edit-panel .btn.delete.active {
 	background-color: #FF7E7E;
 	color: #FFFFFF;
 }
 .edit-panel .btn.edit.active {
    background-color: #4CAF50;
    color: #FFF;
 }
 .edit-panel .btn.add.active {
 	    background-color: #1E91CF;
 	    color: #FFF;
 }
 .property {
 	margin-top: 10px;
    border-top: solid 2px #1E91CF
 }
 .adk-help {
 	cursor: pointer;
    color: #1616EF;
    font-size: 120%;
    margin: 0 5px;
    vertical-align: middle;
 }

 .switcher {
	padding: 5px 20px;
	border: solid 1px;
	border-radius: 20px;
	background-color: #eaeaea;
}

.width-wrapper {
    position: relative;
    border: solid 1px #cccccc;
    overflow: visible;
    height: 37px;
    background-color: #c3cfd4;
    border-radius: 3px;
}

.width-slider-wrapper {
    display: inline-block;
    position: absolute;
    left: 0;
    right: 107px;
    padding-top:13px;
}

.width-slider-wrapper-range {
    display: inline-block;
    position: absolute;
    right: 107px;
    left: 107px;
    padding-top:13px;
}

.width-input-gr-wrapper {
	width: 100px;
	display: inline-block;
	position: absolute;
	right: 0;
}

.width-input-gr-wrapper-left {
	width: 100px;
	display: inline-block;
	position: absolute;
	left: 0;
}

@media(max-width: 400px) {
	.width-slider-wrapper-range {
		display:none;
	}
}

.iris-border {
	position: absolute!important; /* Need to rewrite widget rules */
	z-index: 100;
}

 /* Checkbox */

.fc-wrapper,
.fc-inner,
.fc-on,
.fc-middle,
.fc-off {
	display: inline-block;
	cursor: pointer;
}

.fc-inner,
.fc-on,
.fc-middle,
.fc-off {
	height: 100%;
}

.fc-wrapper {
    height: 30px;
    overflow: hidden;
    border: solid 1px;
    border-radius: 5px;
}


.fc-inner {
	position: relative;
	left: 0;
	-webkit-transition: all .4s;
	-webkit-transition: all .4s ease;
	transition: all .4s ease;
}
.fc-on,
.fc-off {
	color: white;
	font-size: 15px;
	line-height: 28px;
	vertical-align: top;
	text-align: center;
}

.fc-on {
	background-color: #52c561;
	padding-left: 5px;
}
.fc-middle {
	background-color: #c0cfdc;
	-webkit-transition: all .2s;
	transition: all .2s;
	box-shadow: inset 3px 2px 2px #3a6f41, inset 4px 4px 4px white, inset -2px -2px 4px black, inset -3px -3px 2px white;
}
.fc-middle.on {
	background-color: #609e5c;
}
.fc-off {
	background-color: #8d91a0;
	padding-right: 5px;
}
@-webkit-keyframes fc-switched-on {
	0%,
	100% {
		box-shadow: none;
	}

	50% {
		box-shadow: 0 0 5px 2px #33843e;
	}
}
@keyframes fc-switched-on {
	0%,
	100% {
		box-shadow: none;
	}

	50% {
		box-shadow: 0 0 5px 2px #33843e;
	}
}

@-webkit-keyframes fc-switched-off {
	0%,
	100% {
		box-shadow: none;
	}

	50% {
		box-shadow: 0 0 5px 2px #60636f;
	}
}

@keyframes fc-switched-off {
	0%,
	100% {
		box-shadow: none;
	}

	50% {
		box-shadow: 0 0 5px 2px #60636f;
	}
}

.fc-wrapper.fc-switched-on {
    -webkit-animation: fc-switched-on 0.5s ease 1 alternate;
            animation: fc-switched-on 0.5s ease 1 alternate;
}
.fc-wrapper.fc-switched-off {
    -webkit-animation: fc-switched-off .5s ease 1 alternate;
            animation: fc-switched-off .5s ease 1 alternate;
}

 @media (max-width: 800px) {
 	.hidden-on {
 		display:none;
 	}
 }

 .tab-icon {
 	font-size: 2em;
 	color: #f38733;
 }

 .top-pane {
 	display: none;
 }

.top-pane.active {
	display: block;
}
an.error {
 	font-size: 200%;
    padding: 0 8px 0 8px;
 }
 .input-group span.busy {
    color: #00A3D9;
 }
 .input-group span.error {
    color: #F51111;
    background-color: #E8D4D4;
 }
 .input-group span.main.active {
	cursor: pointer;
	background-color: #65CA65;
 }
 .input-group span.main.active.delete {
 	background-color: #FF6868;
 	color: #FFFFFF;
 }
 .input-group span.active.export {
 	background-color: #7CAAFF;
 }
 .checkbox-group {
 	max-width: 300px;
    max-height: 200px;
    overflow: scroll;
 }
 .checkbox-group > label {
 	display: block;
 	padding: 5px;
 }
 .checkbox-group > label:nth-child(odd) {
 	background-color: #F5F5F5;
 }
 .checkbox-group input {
 	margin-right: 5px;
 }
 .property-item {
	border-top: solid 2px #F7F7F7;
    padding: 10px 0;
 }
 .edit-panel {
 	padding: 5px;
 	text-align: right; 
 }
 .edit-panel .btn.delete.active {
 	background-color: #FF7E7E;
 	color: #FFFFFF;
 }
 .edit-panel .btn.edit.active {
    background-color: #4CAF50;
    color: #FFF;
 }
 .edit-panel .btn.add.active {
 	    background-color: #1E91CF;
 	    color: #FFF;
 }
 .property {
 	margin-top: 10px;
    border-top: solid 2px #1E91CF
 }
 .adk-help {
 	cursor: pointer;
    color: #1616EF;
    font-size: 120%;
    margin: 0 5px;
    vertical-align: middle;
 }

 .switcher {
	padding: 5px 20px;
	border: solid 1px;
	border-radius: 20px;
	background-color: #eaeaea;
}

.width-wrapper {
    position: relative;
    border: solid 1px #cccccc;
    overflow: visible;
    height: 37px;
    background-color: #c3cfd4;
    border-radius: 3px;
}

.width-slider-wrapper {
    display: inline-block;
    position: absolute;
    left: 0;
    right: 107px;
    padding-top:13px;
}

.width-slider-wrapper-range {
    display: inline-block;
    position: absolute;
    right: 107px;
    left: 107px;
    padding-top:13px;
}

.width-input-gr-wrapper {
	width: 100px;
	display: inline-block;
	position: absolute;
	right: 0;
}

.width-input-gr-wrapper-left {
	width: 100px;
	display: inline-block;
	position: absolute;
	left: 0;
}

@media(max-width: 400px) {
	.width-slider-wrapper-range {
		display:none;
	}
}

.iris-border {
	position: absolute!important; /* Need to rewrite widget rules */
	z-index: 100;
}

 /* Checkbox */

.fc-wrapper,
.fc-inner,
.fc-on,
.fc-middle,
.fc-off {
	display: inline-block;
	cursor: pointer;
}

.fc-inner,
.fc-on,
.fc-middle,
.fc-off {
	height: 100%;
}

.fc-wrapper {
    height: 3