/config.php
admin/config.php
#system/config/
.idea/

!index.html

download/
image/data/
image/cache/*
system/cache/*
system/logs/*
install/

system/storage/cache/*
system/storage/download/*
system/storage/logs/*
system/storage/modification/*
system/storage/upload/*

# vQmod log files
vqmod/logs/*
# vQmod cache files
vqmod/vqcache/*
vqmod/checked.cache
vqmod/mods.cache

*.DS_Store
.AppleDouble
.LSOverride

# Icon must end with two \r
Icon


# Thumbnails
._*
image.tar
#image/catalog/

.crawler
.tpm_pckg/
system/library/advertikon/
